/*selectores*/
/*@font-face {
    font-family: "roboto";
    src: url("../assets/Roboto/Roboto-Black.ttf");
}*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*TRANSFORMACIONES*/
a{
    color: black;
    font-size: 1rem;  
    transition: color 2s, font-size 4s;
}

a:hover{
    color:red;
    font-size: 2rem;
}

.transition{
    background-color: red;
}


/**/
p{

    font-family: "roboto", monospace;
    color: gainsboro;
}



/*selectores por etiqueta*/
h1 {
    color: red;
    font-size: 3rem;
}
/*selectores por id*/
/*#headingIndex{
    color: green;
}*/

/*selectores por clase*/
/*.modificarH2{

    color:blueviolet;
}*/

/*herenccia y cascada*/
/*section{

color: blue;

 }*/

 /*.sectionDiferente{


color: pink;

 }*/

 /*P{
    color: black;
    font-family: Impact, sans-serif;
    font-size: 15px; 
    font-weight: lighter;
    font-style: italic;
}*/

section{
background-color: red;

}

/*body{
    background-image: url(../assets/beautiful-aerial-view-la-bombonera-600nw-2430888379.webp);
    background-size: cover;
}*/

html{

    font-size: 62,5%;
}

