/*selectores*/
/*@font-face {
    font-family: "roboto";
    src: url("../assets/Roboto/Roboto-Black.ttf");
}*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*TRANSFORMACIONES*/
a{
    background-color: black;
    font-size: 1rem;  
    transition: background-color 2s, font-size 4s;
}

a:hover{
    background-color:red;
    font-size: 2rem;
}

.transition{
    background-color: green;
    width: 200px;
    height: 200px;
    transition: widht 3s,height 5s ;
}

.transition:hover{
    width: 300px;
    height: 300px;
}

.animacion{
width: 200px;
height: 200px;
animation-name: nuestraprimeranimacion;
animation-iteration-count: infinite;
animation-timing-function: ease-in;
animation-duration: 10s;
animation-delay: 5s;

}


@keyframes nuestraprimeranimacion{

0%{
    background-color: red;
}
10%{
    background-color: blue;
    transform: rotate(10deg);
}
20%{
    background-color: green;
    transform: skew(20deg,10deg);
}
30%{
    background-color: pink;
    transform: rotate(50deg);
}
40%{
    background-color: violet;
}
50%{
    background-color: rgb(228, 105, 162);
    transform: skew(50deg,30deg);
}
60%{ 
    background-color: aquamarine;
    transform: rotate(90deg);
}
100%{
    background-color: black;
}
}



/**/
p{

    font-family: "roboto", monospace;
    background-color: gainsboro;
}



/*selectores por etiqueta*/
h1 {
    background-color: red;
    font-size: 3rem;
}
/*selectores por id*/
/*#headingIndex{
    background-color: green;
}*/

/*selectores por clase*/
/*.modificarH2{

    background-color:blueviolet;
}*/

/*herenccia y cascada*/
/*section{

background-color: blue;

 }*/

 /*.sectionDiferente{


background-color: pink;

 }*/

 /*P{
    background-color: black;
    font-family: Impact, sans-serif;
    font-size: 15px; 
    font-weight: lighter;
    font-style: italic;
}*/

section{
background-color: red;

}

/*body{
    background-image: url(../assets/beautiful-aerial-view-la-bombonera-600nw-2430888379.webp);
    background-size: cover;
}*/

html{

    font-size: 62,5%;
}

